#log-in {
    width: 90%;
    text-align: right;
    padding-left: 100px;
    word-spacing: 15px;
    color: black;
    font-size: small;
   
}
#log-in a{
    text-decoration: none;
    color:black;
}
#log-in a:hover{
    text-decoration: underline;
    
}


#google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 30%;
    border-color: white;

}
#the-search-bar {
 
    width: 100%;
    text-align: center;
}

#input-search-bar {
    background-color: transparent;
    margin: 0 auto;
    width: 35%;
    display: inline-block;
    height: 30px;

}
#submit-buttons {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.button {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.foot-div {
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    bottom : 0;
    font-size: small;
    color: rgba(0,0,0,.54);
}

.foot-div a{
    text-decoration: none;
    color: rgba(0,0,0,.54);
    
}
.foot-div a:hover{
    text-decoration: underline;
}


